*,
.container-fluid {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
    color: #3c3b3b;
}

a {
    text-decoration: none;
}

nav .dropdown-menu{
    height: fit-content;
    background-color: #e79fe4;
}

#search {
    background: url("../img/bg-img.jpg") no-repeat center center;
    background-size: cover;
    height: 75vh;
    padding-top: 50px;
    background-attachment: fixed;
}

h1 {
    color: white;
    opacity: 0;
    font-size: calc(1em + 4vw);
    font-weight: 400;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 2s ease-out;
}

h3 {
    font-size: calc(1rem + 1vw);
    font-weight: 400;
    margin-top: calc(1rem + 1vw);
}

h2 {
    font-size: calc(1.2rem + 1vw);
    margin-bottom: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
}

h2 strong {
    font-weight: 500;
}

h2::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -1rem;
    height: 3px;
    background-color: white;
    width: 50px;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
}

.show {
    opacity: 1;
    bottom: 0;
}

section{
    opacity: 0;
    transition: all 1s ease-out;
}

.perso {
    background-color: #e79fe4;
    color: white;
    height: 40px;
    transition: 1s;
}

.perso:hover {
    background-color: #fff;
    color:#e79fe4;
  }


#search form {
    background-color: rgba(60, 59, 59, 0.5);
    color: white;
}

#search .form-select,
#search .form-control {
    margin: 5px;
    flex: 1;
}

.carousel-control-prev,
.carousel-control-next {
    top: 120px;
}

.carousel-control-prev {
    left: -75px;
}

.carousel-control-next {
    right: -75px;
}

#vente,
#location {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    flex: 1;
}

#vente {
    background-image: url("../img/vente.jpg");
}

#vente>div,
#location>div {
    right: 0;
    width: 35%;
    transition: 0.5s ease-in;
}

#vente>div:hover,
#location>div:hover {
    width: 100%;
    cursor: pointer;
}

#location {
    background-image: url("../img/location.jpg");
}

section:nth-child(3) h2::after {
    background-color: black;
}


@media screen and (max-width:768px) {

    #search .form-select,
    #search .form-control {
        flex: auto;
    }

    #search {
        padding-top: 0;
    }

    #vente,
    #location {
        flex: auto;
    }

    #vente>div,
    #location>div {
        width:100%;        
    }

}